.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
  width: 450px;
  height: 450px;
  border: 1px solid black;
}

.number,
.dot,
.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.grid-cell {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.dot {
  font-size: 18px;
  color: black;
}

.mirror-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  pointer-events: none;
}

.line-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
